@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* =======GENERAL COMPONENTS======= */

.heading-primary {
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  transition: all ease-in 200ms;
  font-weight: 600;
}

.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn--full:hover,
.btn--full:active {
  color: #fff;
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  color: #555;
  background-color: #fff;
  outline: 3px solid #fff;
  outline-offset: -3px;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
/* =======HEADER======= */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;

  /* Fixed height because it is easier to work with sticky position later on */
  height: 9.6rem;
  padding: 0 4.8rem;
}
.header .logo {
  height: 2.2rem;
}

.main-nav {
  font-size: 1.8rem;
  font-weight: 600;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main-nav-list a:link,
.main-nav-list a:visited {
  text-decoration: none;
  color: #333;
  transition: border ease 0.1s;
}

.main-nav-list a:hover,
.main-nav-list a:active {
  border-bottom: 3px solid #e67e22;
}
/* =======HERO SECTION======= */

.section-hero {
  background: #fdf2e9;
  padding: 9.6rem 0;
}

.hero-img {
  width: 100%;
}

.hero {
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  margin-top: 8rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.delivered-imgs {
  display: flex;
  align-items: center;
}

.delivered-imgs img {
  border-radius: 50%;
  width: 4.8rem;
  width: 4.8rem;
  border-left: 3px solid #fdf2e9;
  margin-left: -10px;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
}
