/* =======HEADER======= */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;

  /* Fixed height because it is easier to work with sticky position later on */
  height: 9.6rem;
  padding: 0 4.8rem;
}
.header .logo {
  height: 2.2rem;
}

.main-nav {
  font-size: 1.8rem;
  font-weight: 600;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #333;
  transition: all ease 0.2s;
  font-size: 1.8rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  border-bottom: 3px solid #e67e22;
}

.main-nav-list li:last-child a:hover,
.main-nav-list li:last-child a:active {
  border: none;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #e67e22;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* =======HERO SECTION======= */

.section-hero {
  background: #fdf2e9;
  padding: 9.6rem 0;
}

.hero-img {
  width: 100%;
}

.hero {
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  margin-top: 8rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.delivered-imgs {
  display: flex;
  align-items: center;
}

.delivered-imgs img {
  border-radius: 50%;
  width: 4.8rem;
  width: 4.8rem;
  border-left: 3px solid #fdf2e9;
  margin-left: -10px;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
}

/* =======HOW IT WORKS SECTION======= */

.section-how {
  padding: 9.6rem 0;
}

.section-how .container.grid {
  align-items: center;
}
.step-img {
  width: 35%;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box:after {
  content: "";
  width: 60%;
  padding-bottom: 60%;
  border-radius: 50%;
  position: absolute;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box:before {
  content: "";
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
  position: absolute;
  background-color: #fae5d3;
  z-index: -1;
}
